# BlockDisplay: permitir definir o bloco ao spawnar a casca do Purple Void
public net.minecraft.world.entity.Display$BlockDisplay setBlockState(Lnet/minecraft/world/level/block/state/BlockState;)V
# Display: brilho “full bright” + cor de glow (néon) na casca de blocos
public net.minecraft.world.entity.Display setBrightnessOverride(Lnet/minecraft/util/Brightness;)V
public net.minecraft.world.entity.Display setGlowColorOverride(I)V
# Display: hitbox de culling (width/height) para BlockDisplay não ser cortado como “sem volume”
public net.minecraft.world.entity.Display setWidth(F)V
public net.minecraft.world.entity.Display setHeight(F)V
